.expense{
    text-align: left;
}

.expense-heading{
text-decoration-color: blueviolet;

}

.expense-item{
/* text-decoration: solid; */
display: flex;
justify-content: space-between;
align-items: center;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
padding: 0.5rem;
margin: 1rem 0;
border-radius: 12px;
background-color: bisque;

}

.expense-item-description{
text-indent: 2px;
display: flex;
flex-direction: column;
gap: 1rem;
align-items: flex-end;
flex-flow: column-reverse;
justify-content: flex-start;
flex: 1;
inline-size: auto;
}

.expense-h2{
    color: cadetblue;
    font-size: 1rem;
    flex: 1;
    margin: 0 1rem;
    color:darkblue;
}

.expense-item-price{
    font-size: 1rem;
    font-weight: bold;
    color: white;
    background-color: blueviolet;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 12px;
}

